<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Ragnarok : A Civ 5 addon that adds apocalyptic scenarios." />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl}}/stylesheets/stylesheet.css">

    <title>Ragnarok</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/gensior/ragnarok">View on GitHub</a>

          <h1 id="project_title">Ragnarok</h1>
          <h2 id="project_tagline">A Civ 5 addon that adds apocalyptic scenarios.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/gensior/ragnarok/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/gensior/ragnarok/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		  {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Ragnarok maintained by <a href="https://github.com/gensior">gensior</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
